* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.notes {
  min-height: 70vh;
}

#root {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: rgb(25, 26, 68);
}