.section-about {
    background-color: white;
    min-height: 800px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/notebook-background.jpg!d');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;


    .section-about__text {
        margin-top: 100px;
        background-color: rgb(9, 7, 19);
        color: rgb(255, 255, 255);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding: 20px;

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }


    .images-about {
        height: 800px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        padding: 100px;
        background-color: rgb(22, 22, 65);
        display: flex;
        border-radius: 20px;

        flex-direction: column;
        flex-wrap: wrap;

        .algoritm {
            background-color: white;
            color: black;
            padding: 20px;
            font-weight: 700;
            border-radius: 20px;
            font-size: 20px;

            li {
                overflow: hidden;
            }
        }

        .images {
            display: flex;
            gap: 200px;
            margin-bottom: 100px;

            .images-about__img {
                height: 250px;
                text-align: center;
                padding: 50px;
                box-shadow: 0 0 10px gray;
                border-radius: 20px;
                background-color: white;

                &.--1 {
                    margin-top: 50px;

                }

                &.--3 {
                    margin-top: 50px;
                }
            }


        }
    }




}